            <!--================================-->
            <!-- Page Inner Start -->
            <!--================================-->
            <div class="page-inner">
               <!-- Main Wrapper -->
               <div id="main-wrapper">
                  <!--================================-->
                  <!-- Breadcrumb Start -->
                  <!--================================-->
                  <div class="pageheader pd-t-25 pd-b-15">
                     <div class="d-flex justify-content-between">
                        <div class="clearfix">
                           <div class="pd-t-5 pd-b-5">
                              <h1 class="pd-0 mg-0 tx-20 tx-dark">Change Display Picture</h1>
                           </div>
                           <div class="breadcrumb pd-0 mg-0">
                              <a class="breadcrumb-item" href="/"><i class="icon ion-ios-home-outline"></i> Home</a>
                              <a class="breadcrumb-item" href="">My Profile</a>
                              <span class="breadcrumb-item active">Change Display Picture</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--/ Breadcrumb End -->

                  <form action="/upload-display-picture" class="dropzone needsclick dz-clickable" id="dropzone-demo">
                        <div class="dz-message needsclick">
                           Drop files here or click to upload
                           <span class="note needsclick">(This is just a demo dropzone. Selected files are
                           <strong>not</strong> actually uploaded.)</span>
                        </div>
                        
                     </form>
               </div>
               <!--/ Main Wrapper End -->
            </div>
            <!--/ Page Inner End -->