            <!--================================-->
            <!-- Page Inner Start -->
            <!--================================-->
            <div class="page-inner">
               <!-- Main Wrapper -->
               <div id="main-wrapper">
                  <!--================================-->
                  <!-- Breadcrumb Start -->
                  <!--================================-->
                  <div class="pageheader pd-t-25 pd-b-15">
                     <div class="d-flex justify-content-between">
                        <div class="clearfix">
                           <div class="pd-t-5 pd-b-5">
                              <h1 class="pd-0 mg-0 tx-20 tx-dark">Pages</h1>
                           </div>
                           <div class="breadcrumb pd-0 mg-0">
                              <a class="breadcrumb-item" href="/"><i class="icon ion-ios-home-outline"></i> Home</a>
                              <a class="breadcrumb-item" href="/pages">Pages</a>
                              <span class="breadcrumb-item active">{{page.name}}</span>
                           </div>
                        </div>
                        <div class="d-flex align-items-center hidden-xs">
                           <a href="/pages/{{page.slug}}/create-promotion" class="btn btn-primary"><span data-feather="plus" class="wd-16 mr-2"></span>Create Promotion</a>
                        </div>
                     </div>
                  </div>
                  <!--/ Breadcrumb End -->
                  <!--/ Pages  End-->
                  
               </div>
               <!--/ Main Wrapper End -->
            </div>
            <!--/ Page Inner End -->